.container {
  border: 2px solid red;
  margin: 0 0 30px;
  padding: 10px;
}

.container h2 {
  margin: 0 0 10px;
}
.container button {
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: 1px solid crimson;
}
